extends layout.pug
block content
  .splash-container
    .splash
      h1.splash-head Geomia
      p.splash-subhead
        | Le but est de construire une interface permettant à l'utilisateur de créer ses propres systèmes gravitationnels.
      p
        a.pure-button.pure-button-primary(href='https://github.com/ArthurTlprt/Geomia') Visite notre github
