doctype html
html
  head
    meta(charset='UTF-8')
    title Mattéo a faim
    script(src='javascripts/Snake.js')
    script(src='javascripts/Layer.js')
    script(src='javascripts/main.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    audio(autoplay='true' src='/audios/citronsong.mp3')
  body
    canvas#mon_canvas(width='1350', height='630')
      | Message pour les navigateurs ne supportant pas encore canvas.
