.blue p {
			background: rgb(20, 180, 239);
			color: white;
			text-align: center;
			font-family: Arial;
			padding: 10px;
			display: block;
			width: 80%;
			margin: auto;
			font-size: 10em;
      }
      .orange p {
			background: #FF5C33;
			color: white;
			text-align: center;
			font-family: Arial;
			padding: 10px;
			display: block;
			width: 13%;
			margin: auto;
      }
	  .titre1
	  {
		  font-size: 5em;
		  font-family: Arial;
		  color: rgb(200, 200, 20);
		  text-align: center;
	  }
	  	  .titre2
	  {
		  font-size: 10em;
		  font-family: Arial;
		  color: #33D685;
		  text-align: center;
	  }
	  	.hide
	  	{
	  		visibility: hidden;
	  	}